@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.hind-madurai {
  font-family: "Hind Madurai", sans-serif;
  font-style: normal;
}

nav {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
}

section {
  color: white;
  font-family: "Hind Madurai", sans-serif;
  font-style: normal;
}
.lists {
  font-size: 18px;
}
.num {
  font-family: "Hind Madurai", sans-serif;
  font-style: normal;
}

.bottom-sec h1 {
  font-family: "Hind Madurai", sans-serif;
  font-style: normal;
}
